{% block stylesheets %}
    <style>
{#        .nav{margin-left: 60px;}#}
        ul li{margin: 0 2px;}
        .navbar{padding: 0;}
        {#.navbar-default .navbar-nav>li>a{color: #777;}
        .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{color: #333;}#}
    </style>
{% endblock %}
<ul class="nav navbar-nav">
    <li><a class="istatement" href="{{ path('admin_acme_account_report_istatement')}}"><i class="fa fa-money"></i> Income Statements</a></li>
    <li><a class="bsheet" href="{{ path('admin_acme_account_report_balancesheet')}}"><i class="fa fa-balance-scale"></i> Balance Sheet</a></li>
</ul>
